<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications-</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <!-- <script src="/static/js/firebase-messaging-sw.js"></script>

     -->

    

     <script>
        var firebaseConfig = {
        apiKey: "AIzaSyCJD0-w89XcoKXIS5RKCJjFGwdiYvLF9UQ",
        authDomain: "web-noti-ffa7c.firebaseapp.com",
        projectId: "web-noti-ffa7c",
        storageBucket: "web-noti-ffa7c.appspot.com",
        messagingSenderId: "581835456145",
        appId: "1:581835456145:web:40046e026a6f16e5e54930",
        measurementId: "G-DFX484N9LS"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
      
        const messaging = firebase.messaging();
        console.log(messaging.getToken())
        messaging.getToken({ vapidKey: 'BKoLFLcs8ZBtqZ6fJrP540bh7-BulSfGbF42pI1xV_EXCZikpFXpDQjHUZNbtbrue86Jr2AkPxZ_p_FV4CEgRqY' }).then((currentToken) => {
        if (currentToken) {
          
          console.log(currentToken)
        } else {
          console.log('No registration token available. Request permission to generate one.');
       
        }
      }).catch((err) => {
        console.log('An error occurred while retrieving token. ', err);
      });
      
      
        messaging
         .requestPermission()
         .then(function () {
           console.log("Notification permission granted.");
           return messaging.getToken()
         })
         .catch(function (err) {
         console.log("Unable to get permission to notify.", err);
       });
      
      
        messaging.onMessage((payload) => {
        console.log('Message received. ', payload);
       
      });
      
      
      
      </script>
  

</head>

<body>

</body>

</html>